<div class="container">
  <div class="detail-card" *ngIf="artist">
    <h3>ARTIST Detail</h3>
    <mat-card class="item">
      <img src="{{artist.images.length ? artist.images[0].url : 'assets/image/no_image.png'}}" alt="" matCardImage>
      <h2>{{artist.name}}</h2>
      <div>
        <h3>GENRES</h3>
        <ul>
          <li *ngFor="let genre of artist.genres">{{genre}}</li>
        </ul>
      </div>
      <div style="margin-bottom: 10px">
        <button (click)="goSpotify(artist.uri)" mat-raised-button color="accent"> go spotify</button>
      </div>
      <button (click)="goBack()" mat-raised-button color="primary">go back</button>
    </mat-card>
  </div>
</div>
