<div class="container">
  <div class="detail-card" *ngIf="playlist">
    <h3>PLAYLIST Detail</h3>
    <mat-card class="item">
      <img src="{{playlist.images.length ? playlist.images[0].url : 'assets/image/no_image.png'}}" alt="" matCardImage>
      <h2>{{playlist.name}}</h2>
      <p>{{playlist.description}}</p>
      <div style="margin-bottom: 10px">
        <button (click)="goSpotifyPlaylist(playlist.uri)" mat-raised-button color="accent"> go spotify</button>
      </div>
      <button (click)="goBack()" mat-raised-button color="primary">go back</button>
    </mat-card>
  </div>
</div>
