.search {
  border: 1px solid rgba(black, .12);
  height: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background: white;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  &__input {
    appearance: none;
    border: none;
    background: none;
    padding: 0 40px 0 16px;
    margin: 0;
    outline: none;
    flex: 1;
    width: 400px;
  }
  &__button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 8px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

.mat-option .mat-icon {
  margin-right: 8px;
}

.mat-option {
  line-height: 20px;
}

.img {
  vertical-align: middle;
  height: 18px;
  margin: 0 8px;
}

